body {
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

h1 {
    margin: 0;
    padding: 30px;
    background-color: salmon;
    color: gray;
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.two {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: gray;
}

table {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

thead {
    background-color: gray;
    color: white;
}

th {
    border: solid black 1px;
    width: 100px;
}

.inputs {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: solid black 1px;
}

#submitButton {
    width: 25%;
    height: 15%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    background-color: salmon;
    color: gray;
    font-weight: bold;
    border: solid black 1px;
}

footer {
    background-color: salmon;
    color: gray;
    font-size: 27px;
    font-weight: 600;
    padding: 30px;
}